body{
    background-color: pink;
}
.main div{
    height:240px;
    width:200px;
    background-color: white;
    margin-top:50px;
    border: 10px solid white;
    margin-left:30px;
}
.main div img{
    height:240px;
    width:200px;
    
}
.name{
    margin-left: 50px;
    font-weight:bold;
    display:flex;
    justify-content:center;
    align-items: center;
}
.about{
    padding:20px;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'PT Serif', serif;
    margin-left:30px;
    margin-right: 20px;
    text-align:center;
    color:#35155D;
}
.main{
    width:100%;
    height:auto;
    display:flex;
    justify-content:center;
    align-items: center;
}

@media (min-width:321px) and (max-width:545px) {
    .main div{
        display:flex;
        justify-content:center;
        align-items:center;
        margin-left:20px;
    }
}