*{
    margin:0;
    padding:0;
}

body{
    background-color: black;
}

div{
    height:300px;
    width:300px;
    background-color: white;
}
.first{
    border: 10px solid white;
    margin-top:30px;
    margin-left:50px;
}
.second{
    border:10px solid brown;
    margin-left:370px;
}
.third{
    border:10px solid #606C5D;
    margin-left:50px;
}

div .img1,.img2,.img3 {
    width:300px;
    height:300px;
}

@media (min-width:321px) and (max-width:521px) {
    div{
        height:145px;
        width:145px;
        background-color: white;
    }
    .first{
        border: 5px solid white;
        margin-top:30px;
        margin-left:15px;
    }
    .second{
        border:5px solid brown;
        margin-left:169px;
    }
    .third{
        border:5px solid #606C5D;
        margin-left:15px;
    }
    div .img1,.img2,.img3 {
        width:145px;
        height:145px;
    }
}